<h1>Carritos de Compras</h1>

<div class="carts-container">
    {{#if carts.length}}
        {{#each carts}}
            <div class="cart-item">
                <h3>Carrito ID: {{this.id}}</h3>
                {{#if this.products.length}}
                    <div class="products-in-cart">
                        <h4>Productos en el carrito:</h4>
                        {{#each this.products}}
                            <div class="product-item">
                                <p>ID Producto: {{this.productId}}</p>
                                <p>Cantidad: {{this.quantity}}</p>
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <p>Este carrito está vacío</p>
                {{/if}}
                <hr>
            </div>
        {{/each}}
    {{else}}
        <p>No hay carritos disponibles</p>
    {{/if}}
</div>